* {
    box-sizing: border-box;
}

.HomePage {
    margin: 0px auto;
    text-align: center;
    padding: 200px;
    background-image: url('productImages/background-image.jpg');
    background: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: sans-serif;

}


h1 {
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
h2 {
    text-align: center;
    font-size: 32px;
}

.nav-container {
    background-color: rgb(172, 73, 159);
    padding: 30px;
    font-family: sans-serif;
    text-align:right;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

a:hover {
    color: lightgrey;
}

.product-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    padding: 20px;

    /*
    float:left;
    position: absolut;
    right: -20%;
    */
  }

button {
    width: 50%;
}