.HomePage {
    margin: 0px auto;
    text-align: center;
    padding: 235px;
    background-image: url('productImages/background-image.jpg');
    background: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    font-family: sans-serif;
}


h1 {
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
h2 {
    text-align: center;
    font-size: 35px;
    text-shadow: 3px 3px rgba(220, 220, 231, 0.5);
}

.nav-container {
    background-color: rgb(172, 73, 159);
    padding: 30px;
    font-family: sans-serif;
    text-align:right;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

a:hover {
    color: lightgrey;
}

.product-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    padding: 20px;
    margin: auto;


    /*
    float:left;
    position: absolut;
    right: -20%;
    */
  }

  .cart-card {
      text-align: center;
      margin: 30px auto;
  }

.to-cart-btn {
    width: 90%;
    padding: 15px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    font-family: sans-serif;
}

button:hover {
    font-weight: bold;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
}

.MinusBtn,
.PlusBtn,
.RemoveBtn {
    border-radius: 30px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    padding: 10px;
}

.totalPrice {
    margin: 0 auto;
    text-align: center;
}

.cart-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 40%;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
}

.cart-card {
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}




